<footer>
    <div class="contenedorFooter">
        <div>
            <ul class="linkFooter">
                <li><img src="{{url_for('static', filename='img/PATOTASRED.png')}}" style="width: 30%;" alt="logotiopo"></li>
                <li><i class="fa-solid fa-phone"></i> 3514820000</li>
                <li><i class="fa-brands fa-whatsapp"></i> 3515845210</li>
                <li><i class="fa-solid fa-envelope"></i> info@patotasveterinaria.com</li>
            </ul>
        </div>
        <div>
            <ul class="linkFooter">
                <li><h3>Enlaces rápidos</h3></li>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="servicios.html">Tienda</a></li>
                <li><a href="Notimascotas.html">Noti Mascotas</a></li>
                <li><a href="quienesomos.html">Quienes Somos</a></li>
               
            </ul>
        </div>
        <div>
            <ul class="linkFooter">
                <li><h3>Redes Sociales</h3></li>
                <li><a href="error404.html"><i class="fa-brands fa-facebook"></i> Patotas Veterinaria</a></li>
                <li><a href="error404.html"><i class="fa-brands fa-instagram"></i> Patotas.Veterinaria</a></li>
                <li><a href="error404.html"><i class="fa-brands fa-instagram"></i> Patotas.Veterinaria</a></li>
                <li><a href="error404.html"><i class="fa-brands fa-twitter"></i> Patotas.Veterinaria</a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="{{url_for('static', filename='js/app.js')}}"></script>
<script src="https://kit.fontawesome.com/246d21fbc4.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>