{% include 'defaults/navbar.html' %}
<main>
    <div class="mb-3 pt-3 d-flex justify-content-between container">
        <h2 class="text-success fw-bold">EDITAR PRODUCTO</h2>
    </div>
    <div class="container py-3">
        <form class="row g-3" method="POST" action="/editarProducto/{{ producto[0]}}" enctype="multipart/form-data">
            <div class="col-12">
              <label for="inputNombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="inputNombre" name="nombre" value="{{ producto[1]}}" required>
            </div>
            <div class="col-12">
                <label for="areaDescripcion" class="form-label">Descripción</label>
                <textarea class="form-control" id="areaDescripcion" name="descripcion" rows="3" required>{{ producto[2]}}</textarea>
              </div>
            <div class="col-12">
              <label for="inputPrecio" class="form-label">Precio</label>
              <input type="number" class="form-control" id="inputPrecio" name="precio" value="{{ producto[3] }}" required>
            </div>
            <div class="col-12">
              <label for="inputImagen" class="form-label">Foto</label>
              <input type="file" class="form-control" id="inputImagen" name="imagen">
              {% if producto[4] %}  
              <img src="{{ url_for('static', filename='productos/' + producto[4]) }}" alt="Imagen del producto" width="100">
              {% endif %}
            </div>            
            <div class="col-12">
              <button type="submit" class="btn btn-success">Guardar cambios</button>
              <a href="/administrador" class="btn btn-warning" role="button">Cancelar cambios</a>
            </div>
          </form>
    </div>
</main>
{% include 'defaults/footer.html' %}